/* Estilo para o campo de entrada de imagem:*/
.input_imagem_sek {
    width: 100%;
    padding: 8px;
    border-radius: 6px;
    border: 1px solid #a3b18a;
    font-size: 14px;
    transition: border-color 0.3s, box-shadow 0.3s;
    background-color: #e9f5e9;
    box-sizing: border-box;
    min-height: 45px;
}
