/* Body Styling */
body {
  font-family: sans-serif;
  line-height: 1.5;
  margin: 0;
  background-color: #ffffff;
  color: #424242;
}

/* Form + Fieldset Styling */

.forms-container {
  display: flex;
  flex-wrap: wrap; /* Quebra pra linha seguinte (wrap) se não tiver espaço */
  gap: 20px; /* Add space between the forms */
  justify-content: center;
  padding: 20px;
}

form {
  max-width: 600px;
  min-width: 40%;
  background-color: #fff;
  border: 1px solid #eeeeee;
  padding: 20px;
  border-radius: 8px; /* Rounded corners */
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

button {
  display: block;
  width: 100%;
  margin-top: 20px; /* Separa o botão dos fields */
  padding: 10px 20px;
  background-color: #006400;
  color: #ffffff;
  border: none;
  border-radius: 5px;
  cursor: pointer; /* Muda o mouse quando passar por cima */
  font-size: 1rem;
}

button:hover {
  background-color: #64dc64; /* Cor do botão no hover */
}

/* Input Field Styling */
input[type="text"],
input[type="tel"],
input[type="email"],
input[type="number"],
input[type="file"],
input[type="password"] {
  width: 95%;
  padding: 10px;
  margin-bottom: 15px; /* Espaço embaixo de cada input */
  border: 1px solid #eeeeee;
  border-radius: 4px; /*  Bordas redondas */
  box-sizing: border-box; /* weight/height inclui margin/padding */
}
