.admin-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    /* gap: 40px; */
    padding: 40px;
    flex-wrap: wrap; /* Faz o layout se adaptar em telas pequenas */
    background-color: #f9f9f9;
    border-radius: 16px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
  }
  
  .admin-text {
    flex: 1;
    margin-right: 30px;
    min-width: 250px;
  }
  
  .admin-text h1 {
    font-size: 3rem;
    color: #2e7d32;
    margin-bottom: 16px;
  }
  
  .admin-text p {
    font-size: 1.25rem;
    color: #7f8c8d;
    margin-bottom: 2rem;
  }
  
  .admin-image {
    flex: 1;
    min-width: 250px;
    text-align: center;
  }
  
  .admin-image img {
    max-width: 100%;
    height: auto;
    border-radius: 12px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  }
  